nav {

  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 0.5rem 1rem;

}

nav img {
  height: 40px;
  width: auto;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin-left: 1rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #444;
  border-radius: 4px;
}